*{
	margin: 0;
	padding: 0;	
}

body{
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'PT Serif', serif;
}
	 /* navbar Starts*/
 .pageloader{
	position: fixed;
	width: 100%;
	height: 450px;
	left: 35%;
	top: 20%;
 	background-image: url(../images/pre-load.gif);
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 10;
 }   
 
 .overlay{
	visibility: hidden;
 }
.navbar{
	width:100%;
	height:110px;
	background-color: rgba(0,0,0,0.4);
	position:fixed;
	top:0;
	left:0;
	z-index:10;
}
#logo-one{
	width: 12%;
    height: 120px;
    margin-left: 4%;
    float: left;
    position: absolute;
    top:5%;
}
.navbar>ul{
	float:left;
	width:80%;
	height:70%;
	padding-bottom: 30px;
	list-style-type:none;
	padding-top: 3%;
	margin-left: 35%;
}
.navbar>ul> .nav-list{
	display:inline;
	padding:20px;
}
a{
    text-decoration:none;
	font-size:16px;
	color:white;
	font-weight:bold;
}
.navbar>ul>.nav-list>a:hover{
	color:#f79c1d;
}
.text-warning{
	color: orange !important;
}
                              /*navbar ends */
                             /* Slide Show CSS Starts*/
.slideshow img{
		width:100%;
		height:550px;
	}

                              /* mainbody starts*/

#menu{
	height: 550px;
	width: 100%;
	float: left;
	background-color: #eadca6;      
	text-align: center;
	font-size: 40px;
}
#menu-content{
	height: 250px;
	width: 90%;
	display: flex;
	margin-left: 5%;
	box-sizing: border-box;
	justify-content: space-around;
}
.book-menu{
	height: 80%;
	width:40%;
	background-color: #a34a28;
    color:white;
	margin-top: 6%;
	border-radius: 5px;
	font-size: 35px;
}
.coffee-menu{
	height: 80%;
	width:40%;
	 background-color: #a34a28;
    color:white;
	margin-top: 6%;
	border-radius: 5px;
	font-size: 35px;
}
.btn{
	height: 80px;
	width: 70%;
	font-size: 28px;
    margin-left: 3%;
	border: none;
	border-radius: 10px;
	margin-top: 2%;
	background-color: #e98b50;
	font-family: 'Kalam', cursive;
	outline: none;
}
.btn:hover{
	cursor: pointer;
	color:brown;
}
#content-two{
	height: 400px;
	width: 100%;
	float:left;
	box-sizing: border-box;
	background-image: url(../images/backcoffee.jpg);
	background-size:cover;
}
.pargraph{
	text-align: left;
	color:white;
    font-size: 42px;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 8%;	
}
#paragraph-one{
   text-align: left;
   color:white;
   font-size: 28px;
	font-weight: bold;
	margin-left: 5%;
	line-height: 65px;
}
.location{
	height: 550px;
	width: 100%;
	background-size:cover;
	float:left;
	display:flex;
	justify-content: space-around;
	background-color: #eadca6;
}
.map{
	height: 60%;
	width: 40%;
	box-shadow: 10px  black;
	margin-top: 8%;
}
.loc-image{
	height: 60%;
	width: 40%;
	box-shadow: 10px gray;
	margin-top: 8%;
}
#form{
	height: 500px;
	width: 100%;
	float:left;
	background-color: transparent;
	box-sizing: border-box;
}
#form-text{
	height: 90%;
	width:40%;
	float:left;
	margin-top: 3%;
	box-sizing: border-box;
	margin-left: 28%;
}
#contact-heading{
	margin:0;
	margin-top: 3%;
	text-align: center;
	font-size: 35px;
}
#name{
	
	margin-top: 5%;
	height: 40px;
	width: 100%;
	outline: none;
	cursor:pointer;
}
#email{
	margin-top: 6%;
	height: 40px;
	width: 100%;
	outline: none;
	cursor:pointer;
}
#message{
	margin-top: 6%;
	height: 70px;
	width: 100%;
	outline: none;
	cursor:pointer;
}
.btn-one{
	margin-top: 6%;
	outline: none;
	height: 50px;
	width: 100%;
	background-color: red;
	color:white;
	cursor: pointer;
	border-radius: 12px;
	border: 2px solid red;
	font-size: 25px;
	font-weight: bold;
	border-decoration: none;
	font-family: 'Kalam', cursive;
}
.btn-one:hover{
	box-shadow: 4px 4px 20px 4px brown;
}

span{
	color:red;
	font-size: 15px;
}
                                       /* discount pop up */
#discount{
	height: 142px;
    width: 200px;
    position: fixed;
    float: left;
    left: 84%;
    bottom: 0%;
    z-index: 5;
    text-align: center;
    padding: 1% 2%;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgba(160,82,45,0.6);
    animation-name: discount;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes discount{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

                                  /* light gallery CSS */
 #empty{
 	height: 110px;
 	width: 100%;
 	background-image: url();
 }
.lightgallery{
	height:250px;
	width:85%;
	margin-left: 10%;
	box-sizing: border-box;
	padding: 2%;
    display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.lightgallery img{
	height:200px;
	width: 200px;
	filter: grayscale(100%);
	border:1px solid black;
	border-radius: 15px;
	margin: 2%;
}
.lightgallery img:hover{
	box-shadow: 6px 6px 30px 6px #c36a2d;
	border-radius: 15px;
	filter: grayscale(0%);	
}    
                                 /* book genres page */
#top-book-bg{
	height: 450px;
	width: 100%;
	background-image:url(../images/bookbg.jpg);
	float:left;
}
#leftside-list{
	height:1250px;
	width:16%;
	float:left;
	font-family: sans-serif;
	box-sizing: border-box;
	background-color:#f4f6f6;      
	padding-left: 3%;
	padding-right: 0;
	padding-top: 1%;
	font-size: 16px;
	list-style-type: none;
	cursor: pointer;
	line-height: 34px;
}
.bk-list:hover{
	background-color: #c8dad3;
	color:white;
}
#middle{
	height: 1000px;
	width: 84%;
	float:left;
	box-sizing: border-box;
	background-color: #e2dcc5;
}
#genres-box{
	height: 800px;
	width: 100%;
	float: left;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#book-heading{
	text-align: center;
	font-family: sans-serif;
	font-size: 32px;
	letter-spacing: 1px;
	margin-top: 2%;
	color:#0d3f67;
	margin-left: -5%;
}
                                       /* fiction flip card */
.flip-card {
  background-color: transparent;
  height: 28%;
	width: 26%;
	margin-top: 5%;
	cursor: pointer;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: black;
  color: black;
}
.flip-card-back {
  background-color: #f58b54;
  color: white;
  transform: rotateY(180deg);
}
.flip-text{
	margin-top: 28%;
}

#library-text{
	height: 240px;
	width: 84%;
	float:left;
	background-color:#f4f6f6;
	box-sizing: border-box;
	padding: 4%;
	text-align: center;
	padding-right: 12%;
}
#details{
	font-size: 22px;
	font-weight: lighter;
	font-family: 'Open Sans Condensed', sans-serif;
}
#details-span{
	color:blue;
}
#details-span:hover{
	cursor: pointer;
}
                              /* book pg ended  */
                             /* FAQ'S Page (accordion)*/
#faq-image{
	height: 200px;
	width: 100%;
	float:left;
	margin-bottom: 10%;
}
#accordion{
	margin-top: 130px;
	height:500px;
	padding: 0 10%;
}
                                /* about- us page */
#our-story{
	height: 500px;
	width: 100%;
	float:left;
	background-color:#f8f8f8;
	box-sizing: border-box;
	border:1px solid gray;
	margin-top: 110px;
}
.aboutus-heading{
	padding: 5%;
	color: black;
	font-size: 40px;
	width: 30%;
	padding-bottom: 0;
}
.aboutus-txt{
	height: 70px;
	width: 40%;
	font-size: 20px;
	padding-top: 0px;
	padding: 5%;
	color: black;
	display: inline-block;
}
#aboutus-img{
	height: 200px;
	width: 30%;
	float:left;
	margin-left: 60%;
	background-color: blue;
	margin-top: 0;
}
#facilities{
	height: 550px;
	width: 100%;
	float:left;
	box-sizing: border-box;
	background-color: lightblue;
	border: 1px solid gray;
}
#our-crew{
	height: 550px;
	width: 100%;
	float:left;
	box-sizing: border-box;
	background-color: gray;
	border: 1px solid gray;
	background-color:#f8f8f8;

}
 
                          /*Menu CSS Starts*/
 .drink-bg-1{
     width:100%;
     height: 450px;
     background-image: url(images/cofee-drink.jpeg);
 	}                            

.menu-section-heading {
  color: grey;
  font-size: 80px;
  text-align: center;
  margin-top: 4%;
}
.menu-heading-discription {
  color: grey;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

.drinks {
  width: 60%;
  height: 800px;
  margin-left: 19%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.front-drink-1 {
  width: 200px;
  height: 200px;
  position: relative;
  float: left;
  z-index: 4;
}
.back {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 2s ease;
}
.front-drink-1:hover .back{
  height:100%;
}
.menu-item-heading {
  font-size: 22px;
  text-align: left;
  padding: 6%;
  padding-top: 12%;
  color: orange;
}
.menu-item-discription {
  font-size: 15px;
  text-align: left;
  line-height: 22px;
  padding-left: 5%;
  padding-top: 12%;
  color: orange;
}
.munchies {
	width:60%;
	height: 800px;
	margin-left: 19%;
	margin-top: 2%;
	float: left;
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.front-munch-1 {
	width: 200px;
	height: 200px;
	position: relative;
	float: left;
	z-index: 4;
}

.back-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:black;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 2s ease;
}
.front-munch-1:hover .back-2 {
	height:100%;
	cursor: pointer;
}
                           /* menu page ends */
                           /*footer Starts*/
#footer{
	width:100%;
	height:350px;
	background-color: black;
	float:left;
} 
#foot-one, #foot-two, #foot-three{
	width: 28%;
}
#foot-one{
	height:80%;
	margin-left: 4%;
	float: left;
}  
#foot-one>h6{
	color:white;
	text-align:center;
	padding-top:40px;
	font-size:22px;
	font-weight:bold;
	font-family:sans-serif;
}
#foot-one>address{
	color:white;
	text-align:center;
    padding:5px;
	font-size:14px;
	line-height:20px;
	font-family:sans-serif;
}
.text-warning2{
	color:white !important;
}
#foot-one>address:hover{
	cursor: pointer;
	color: orange;
}
#foot-one>p {
color:white;
text-align:center;
font-size:14px;
font-family:sans-serif;
}
#foot-one>p:hover{
	cursor: pointer;
	color: orange;
}
#foot-two{
	height:80%; 
	margin-top: 2%;
	margin-left: 4%;
	float: left;                 
}
#foot-two>h6{
	color:white;
	text-align:center;
	padding-top:22px;
	font-size:22px;
	font-weight:bold;
}
#foot-two>p{
	list-style-type:none;
	padding-left: 25%;
	color:white;
	font-size: 14px;
	margin: 2%;
}
#foot-two>p:hover{
	cursor: pointer;
	color: orange;
}
#foot-three{
	height:80%; 
	margin-top: 2%;
	margin-left: 6%;
	float: left;
}
#foot-three>ul>li>a:hover{
	cursor: pointer;
	color: orange;
}
.follow-1{
	padding-top:20px;
	font-size:22px;
	font-weight:bold;
	text-align: left;
	padding-left: 8%;
	color: white;
}
#footer-bottom{
	width: 100%;
	height: 50px;
	background-color: grey;
	text-align: center;
	float: left;
}
#footer-bottom>p{
	font-size: 10px;
	font-family: sans-serif;
	padding-top: 1.5%;
}
#cons-1{
	width:80%;
	height:70%;
	padding-bottom: 30px;
	list-style-type:none;
	padding-top: 5%;
	margin-left: 9%;
}
#cons-1>.icons{
	color: white;
}
#cons-1>.icons:hover{
	cursor: pointer;
	color: orange;
}